.card {
  border: 1px solid black;
  width: 300px;
  height: 200px;
}
.highlight {
  background-color: yellow;
}
.title {
  text-align: center;
}
.list {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
